@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<form method="post" action="/Home/Login">
    <div class="form-group">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control" id="nome" placeholder="Digite seu email">
        @Html.ValidationMessage("email")
    </div>
    <div class="form-group">
        <label for="senha" class="form-label">Senha</label>
        <input type="text" name="senha" class="form-control" id="senha" placeholder="Digite sua senha">
        @Html.ValidationMessage("senha")
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@ViewBag.Mensagem   