@using Microsoft.AspNetCore.Http;
@{
    string login = Context.Session.GetString("Login");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Banco de palavras</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Início</a>
                        </li>

                        @if (login != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Palavra">Palavras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Login">Login</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" href="/Contato">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

        <div>
            <!-- conteudo -->
            @RenderBody()
        </div>

        <footer>
            <!-- footer -->

            <div class="row">

                <div class="com-sm-12">
                    Todos os direitos reservados &copy; 2010 - @DateTime.Now.Year
                </div>

            </div>

        </footer>

    </div>

</body>
</html>